button {
    background-color:  black;
    border: 8px solid rgb(100, 4, 4);
    border-radius: 3px;
    color:white;
    font-size: 18px;
  }
  form{
    color:rgb(100, 4, 4);
  }
  body {
    background-color: grey;
  }
  h1{
      color: black;
      font-size: 28px;
      text-align: center;
  }

  .map{
        border: 5px solid black; 
        border-radius: 5px;
        max-height: 400px;
        min-width: 150px;
        position: relative;
  }
 
  .select {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(100, 4, 4);
    
  }

  

  select:hover {
    background-color:black;
  }

  select.active {
    background-color:rgb(100, 4, 4);
    color: white;
  }

  select.active:hover{
    background-color:black;
  }

  select {
    color: white;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(100, 4, 4);
    cursor: pointer;
    display: block;
  }
  option{
    color: white;
    display: block;
  }
 
ul{
  color: white;
}
  