button {
    background-color:  black;
    border: 8px solid rgb(100, 4, 4);
    border-radius: 3px;
    color:white;
    font-size: 18 px;
  }
  body {
    background-color: grey;
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }