button {
    background-color:  black;
    border: 8px solid rgb(100, 4, 4);
    border-radius: 3px;
    color:white;
    font-size: 18px;
  }
  body {
    background-color: grey;
  }
  h1{
      color: black;
      font-size: 28px;
      text-align: center;
  }

  .map{
        border: 5px solid black; 
        border-radius: 5px;
        max-height: 400px;
        min-width: 150px;
        position: relative;
  }
  